.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.content {
  width: 70%;
  border-radius: 28px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

.btn {
  border: none !important;
  border-right: 1px solid #e3e3e3 !important;
  background: transparent !important;
  font-weight: 600 !important;
  box-shadow: none !important;
  &:focus {
    background-color: transparent !important;
  }
}

.searchBtn {
  background-color: #ff385b;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  margin: 10px;
  border-radius: 50%;
  color: white;
}
.addGuestBtn {
  border: none !important;
  border-right: 1px solid #e3e3e3 !important;
  background: transparent !important;
  box-shadow: none !important;
  &:focus {
    background-color: transparent !important;
  }
  color: #8b8b8b !important;
}

.detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s;
}

.location {
  width: 180%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  cursor: pointer;
}
