.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #e3e3e3;
  height: 70%;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.btn {
  border: none !important;
  border-right: 1px solid #e3e3e3 !important;
  background: transparent !important;
  font-weight: 600 !important;
  &:focus {
    background-color: transparent !important;
  }
}

.searchBtn {
  background-color: #ff385b;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  margin: 10px;
  border-radius: 50%;
  color: white;
}
.addGuestBtn {
  border: none !important;
  border-right: 1px solid #e3e3e3 !important;
  background: transparent !important;
  &:focus {
    background-color: transparent !important;
  }
  color: #8b8b8b !important;
}

.detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location {
    width: 180%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
