.card {
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  border-radius: 20px;
  width: 85%;
  padding: 20px;
  height: fit-content;
}

.avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.getBadgeBtn {
  border: 1px solid black;
  padding: 13px 23px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.5s;
  border-radius: 8px;
  &:hover {
    background-color: #f7f7f7;
  }
}

