.userName {
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
}
.passwordInput {
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  input {
    font-size: 18px;
  }
}

.loginBtn {
  background-color: #faad14;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
  &:hover {
    background-color: #d48806;
  }
}
