.wrapper {
  width: 100%;
  border-radius: 35px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: all 0.5s;
}

.btn {
  text-align: center !important;
  padding-left: 10px !important;
  height: 70px !important;
  background-color: transparent !important ;
  border: none !important;
  padding-top: 10px !important;
  h1 {
    font-weight: 600 !important;
    margin: 0 !important;
  }
  &:focus-within {
    border-radius: 35px !important;
    box-shadow: 0 6px 20px rgba(blue, 0.2);
  }
}

.locationBtn {
  width: 40%;
  text-align: left !important;
  padding-left: 25px !important;
  position: relative;
  h1 {
    padding-left: 10px;
  }
}
.checkinBtn {
  width: 15%;
}
.checkoutBtn {
  width: 15%;
}
.addGuestBtn {
  width: 30%;
  display: flex !important;
  padding-bottom: 10px !important;
}

.searchIcon {
  width: 50%;
  background-color: #e61d51;
  height: 100%;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.5s;
  &:hover {
    box-shadow: 0 3px 25px rgba(red, 0.9);
  }
}

.locationList {
  :global {
    input: {
      background-color: transparent !important;
    }
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    .ant-select-selector {
      border-color: transparent !important;
      background-color: transparent !important;
    }
  }
}
